<table>
	<li><%= link_to "Upload new Video", newvideo_path %></li>

<h3>Videos : <%= @video.count %> </h3>

	<div class="container">
		<%= form_tag(video_index_path, :method => "get", id: "search-form") do %> 
		<%= text_field_tag :search, params[:search], placeholder: "Search Videos" %>
		<%= submit_tag "Search", :name => nil %>
		<% end %> 
		<% if @video.blank? %>
		There are no videos containing the term <%= params[:search] %>.
		<% end %>

		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Title</th>
					<th>Category</th>
					<th>Composer</th>
					<th>Is Availbale</th>					
					<th>Video</th>
					<th>Uploaded at</th>										
					<th>Uploaded by</th>										
					<th>Show</th>				
					<th>Delete Video</th>  
				</tr>
			</thead>
			<%= will_paginate @video %>
			<tbody>
				<% @video.each do |video| %>
				<tr>
					<td><%= video.video_title %></td>
					<td><%= video.category.try(:category_name) %></td>        
					<td><%= video.composer %></td>
					<td><%= video.is_available %></td>

					<td>
						<video width="320" height="240" controls="controls">
							<source src= "https://s3.ap-south-1.amazonaws.com/<%= video.item_video.url.remove("s3.amazonaws.com").remove("///") %>" />
								Your browser does not support the video tag.
							</video>
						</td>
						<td class="timestamp" ><%= time_ago_in_words(video.created_at) %> </td>
						<td class="timestamp" ><%= video.user.first_name  %> <%= video.user.last_name  %> </td>
						<td><%= link_to 'Show', video %></td>
						<td><%= link_to 'Delete', video, method: :delete, data:{ confirm: 'Are you sure?'} %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</table>
	<br />