<%= form_for @user, url: user_path(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %> 

<% if false %>
code commented till........
<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :user_name %><br />
  <%= f.text_field :user_name %>
</div>

<div class="field">
  <%= f.label :DOB %><br />
  <%= f.text_field :DOB %>
</div>

<div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :country %><br />
  <%= f.text_field :country %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

..........here commented

<% end %>


<body>

  <div class="container">
    <h2>Horizontal form</h2>
    <form class="form-horizontal" action="/action_page.php">
      <div class="form-group">
        <label class="control-label col-sm-2" for="email"> <%= f.label :first_name %></label>
        <div class="col-sm-10">
          <div class="form-control" >
            <%= f.text_field :first_name %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd"> <%= f.label :user_name %><br /></label>
          <div class="col-sm-10">          
           <div class="form-control" >
             <%= f.text_field :user_name %>
           </div>
         </div>
       </div> 
       <div class="form-group">
        <label class="control-label col-sm-2" for="pwd"><%= f.label :DOB %><br /></label>
        <div class="col-sm-10">          
          <div class="form-control" >
            <%= f.text_field :DOB %></div>
          </div>
        </div>
      </div> 
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd"><%= f.label :address %><br /></label>
        <div class="col-sm-10">          
         <div class="form-control" >
           <%= f.text_field :address %>
         </div>
       </div>
     </div> 
     <div class="form-group">
      <label class="control-label col-sm-2" for="pwd"><%= f.label :city %><br /></label>
      <div class="col-sm-10">          
       <div class="form-control" >
        <%= f.text_field :city %>
      </div>
    </div>
  </div> 
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd"> <%= f.label :country %><br /></label>
    <div class="col-sm-10">          
     <div class="form-control" >
       <%= f.text_field :country %>
     </div>
   </div>
 </div> 


 <div class="form-group">        
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" >
      <%= f.submit %>
    </button>
  </div>
</div>
</form>
</div>
</body>

<% end %>