<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>User Name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>DOB:</b>
  <%= @user.DOB %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>


<p>
  <b>country:</b>
  <%= @user.country %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> 
