<p id="notice"><%= notice %></p>

<h1>Subscription Plans</h1>
<%= will_paginate @subscribers  %>
<table>
  <div class="container">            
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Plan name</th>
          <th>Validity</th>
          <th>Plan Code</th>
          <th>No of videos</th>
          <th>Expiry in days</th>
          <th>Is active</th>
          <th>Subscription cost</th>          
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.plan_name %></td>
          <td><%= subscriber.validity %></td>
          <td><%= subscriber.plan_code %></td>          
          <td><%= subscriber.no_of_videos %></td>
          <td><%= subscriber.expiry_in_days %></td>
          <td><%= subscriber.is_active %></td>          
          <td><%= subscriber.subscription_cost %></td>
          <td><%= link_to 'Show', subscriber %></td>
          <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
          <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</table>
<br>

<%= link_to 'New Subscriber', new_subscriber_path %>