<p id="notice"><%= notice %></p>

<p>
  <strong>Plan name:</strong>
  <%= @subscriber.plan_name %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @subscriber.validity %>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<% end %>
<%= link_to 'Back', subscribers_path %>
