<p id="notice"><%= notice %></p>

<p>
  <strong>Plan name:</strong>
  <%= @subscriber.plan_name %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @subscriber.validity %>
</p>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>
