<!DOCTYPE html>
<html>
<head>
	<title>VideoLibUi</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
	<% if user_signed_in? %>
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>	
	
	<% else %>
	<%= link_to "Sign up", new_user_registration_path %>
	<%= link_to "Sign in", new_user_session_path %>
	<% end %>
	<%= yield %>
</body>
</html>
